button:hover{
    border-color: hotpink;
    background-color: bisque;
    font-size: 120%;
    color: purple;
}

.input1:hover{
background-color:azure ;
color: green;
}

.input1:focus{
    background-color:burlywood ;
    color: gold;
}

.input2:hover{
    background-color:rgba(12, 83, 236, 0.616) ;
    color: limegreen;
}

.input2:focus{
    background-color:green ;
    color: blue;
    
}

.input3:hover{
    background-color:brown ;
    color: darkkhaki;
}

.input3:focus{
    background-color:azure ;
    color: lightsalmon;
}