img {

    background-size: contain;
}

a {
    color: black !important;

}

footer {
    min-height: calc(25vh - 20px);
    background-color: rgb(3, 3, 3);
}

.logo {
    height: 68px;
}

.sticky-top {
    height: 1.8cm;
}

.icon1 {
   margin: 8px !important;
}

span {
    font-size: 12px;
}

.sizeForm {
    background-color: rgba(255, 255, 255, 0.349);
    width: 22vw;
    padding-right: 10px;
    padding-left: 10px;

}

.formColor {
    background-color: rgba(255, 255, 255, 0.349) !important;
}

.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
    background-color: rgba(216, 182, 182, 0.466);
    padding: 0.5cm;
}

.w3 {
    width: 33.3% !important;
}

.ImageZoomOut:hover {
    transform: scale(1.1);
    opacity: 0;
    transition: transform 35s cubic-bezier(.215,.61,.355,1),opacity 80s cubic-bezier(.215,.61,.355,1);
}

.pic {
    width: 20vw !important;
    align-items: center;
    margin: 40px;
} 